/*header*/
nav ul a, nav .brand-logo, nav .button-collapse i {
    color:#3d3d3d;
}
.dropdown-content{
    overflow: visible !important;
}
.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}


/*footer*/
.page-footer a, .footer-copyright a {
    color:#ffffff;
}