/*header*/
nav ul a, nav .brand-logo, nav .button-collapse i {
    color:#3d3d3d;
}
.dropdown-content{
    overflow: visible !important;
}


/*footer*/
.page-footer a, .footer-copyright a {
    color:#ffffff;
}